

body {background-color: grey  }

.orionm{text-align: center;
  background-color: darkgrey;
  border-radius: 50px;
width: px;
  height: ;
  font-family: cursive;
}

.Moormoney{height: 180px;
border-radius: 50px;
  position: absolute;
  top: 10%;
    left: 44%;
      border: solid 5px black;
}



.copyright{text-align: center;
Background-color: white;}

.socials{background-color: red;
text-align: center;
width: 200px;
display: inline-block;
  left: 45%;
  top: 37%;
position: absolute; }

.phonenumber{text-align: right;
display: inline-block;
border: solid orange;
float: right;
color: orange}

.address{display: inline-block;
text-align: left; 
border: solid red;
  float: 
}

.education {font-family: cursive;
text-align: center;
  background-color: brown;
  
}

.instagram{ 
position: absolute;
left: 30%;
  top: 40%;
}

.linkedin{float: right;
position: absolute;
  left: 70%;
  top: 40%;
  
}

.parkcenter{height: 150px;
  position: absolute;
top: px;
left: 580px;
border-radius: 50px;}

.chipotle{height: 50px;}

.bowlero{height: 50px;}



.bostonsci {height: 50px;}
